<h1>Welcome to My Site</h1>

<p>Thank you for signing up! Please click the link below to confirm your email address:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you did not sign up for this site, please ignore this email.</p>
